
@use "mixin.scss" as *;
.main__footer{
    background-color: #212121;
    .main__container__footer{
        max-width: 1300px;
        margin: 0 auto;
        padding: 1rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include tablet__1325{
            width: 95%;
        }
        .main__container__footer__shop{
            margin: 0;
            color: white;
            font-size: 20px;
            @include mobile__640{
                font-size: 14px;
            }
        }
    }
}